@import url("./base.css");
@import url("./header.css");

.text-switch__text{
    position:relative;
    display:inline-block;
    transition:.5s;
    &::after{
        content:"Let's talk";
        width:100%;
        position:absolute;
        top:200%;
        left:25%;
    }
}

.btn:hover {
    .text-switch__text{
       transform:translateY(-200%);
    }
}