.btn{
    padding:1em;
    border:1px solid #000;
    transition:.25s;
    &:hover{
        border-color: transparent;
    }
}

.btn--round{
    border-radius:25px;
}

.btn--hover-blue:hover{
    color:#eee;
    background-color:#0367fc;
}