.section{
    position:relative;
    overflow:visible;
    .text-belt{
        position:absolute;
        bottom:-100px;
        left:-1vw;
        width:101vw;
        height:100px;
        white-space: nowrap;
    }
    .slope-right{
        background-color: #2c3440;
        rotate:(1deg);
        z-index:5;
    }
    .slope-left{
        rotate:(-1deg);
        background-color:#0367fc;
        box-sizing: border-box;
        padding: 0 3em;
        overflow:hidden;
        z-index:10;
        .text-belt__list{
            display:flex;
            font-size:2rem;
            height:100%;
            align-items: center;
            gap:2em;
        }
    }
}


.section.section__about-us{
    overflow:visible;
}
