@use "../abstracts/variables" as vars;
@import url("./navigation.css");
@import url("./button.css");


.header{
    &__inner{
        display:flex;
        align-items: center;
        max-width:vars.$ly-max-width;
        margin:0 auto;
        padding:1.5em;
    }
}