.header{
    &__logo-image{
        width:30px;
        height:30px;
    }
    &__nav{
        font-size:1.125rem;
        margin-left:2em;
    }
    &__menu{
        display:flex;
        column-gap:3em;
    }
    &__menu-item{
        color:#aaa;
        transition:color .5s;
    }
    .item-active{
        color:#000;
    }
    &__btn{
        font-size:1.1rem;
        margin-left:auto;
    }
}