.header{
    &__logo-image{
        width:30px;
        height:30px;
    }
    &__nav{
        font-size:1.125rem;
        margin-left:2em;
    }
    &__menu{
        display:flex;
    }
    &__menu-item{
        color:#aaa;
        margin-right:2em;
        transition:color .5s;
    }
    .item-active{
        color:#000;
    }
    &__btn{
        font-size:1.3rem;
        margin-left:auto;
    }
}