.header{
    &__logo-image{
        width:1.875rem;
        height:1.875rem;
    }
    &__nav{
        font-size:1.125rem;
        margin-left:2em;
    }
    &__menu{
        display:flex;
        column-gap:3em;
    }
    &__menu-item{
        color:#aaa;
        transition:color .5s;
    }
    .item-active{
        color:#000;
    }
}

